@font-face {
  font-family: 'Garet';
  src: url('https://fonts.cdnfonts.com/s/19495/Garet-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Garet';
  src: url('https://fonts.cdnfonts.com/s/19495/Garet-Heavy.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}